In [2]:
###########################################
################ practice #################
###########################################

library("nlme") # get the data
library("lqmm")

In [3]:
data("Orthodont", package="nlme")
Orthodont$Subject <- as.character(Orthodont$Subject)
Orthodont <- update(Orthodont, units = list(x = "(years)", y = "(mm)"),order.groups = FALSE)
summary(Orthodont)
head(Orthodont)

Orthodont$age.c <- Orthodont$age - 11
Orthodont.sub <- subset(Orthodont, Orthodont$Sex == "Female")
head(Orthodont.sub)
str(Orthodont.sub)

    distance          age          Subject       Sex
 Min.   :16.50   Min.   : 8.0   F01    : 4   Male  :64
 1st Qu.:22.00   1st Qu.: 9.5   F02    : 4   Female:44
 Median :23.75   Median :11.0   F03    : 4
 Mean   :24.02   Mean   :11.0   F04    : 4
 3rd Qu.:26.00   3rd Qu.:12.5   F05    : 4
 Max.   :31.50   Max.   :14.0   F06    : 4
                                (Other):84

  distance age Subject Sex
1 26.0      8  M01     Male
2 25.0     10  M01     Male
3 29.0     12  M01     Male
4 31.0     14  M01     Male
5 21.5      8  M02     Male
6 22.5     10  M02     Male

   distance age Subject Sex    age.c
65 21.0      8  F01     Female -3
66 20.0     10  F01     Female -1
67 21.5     12  F01     Female  1
68 23.0     14  F01     Female  3
69 21.0      8  F02     Female -3
70 21.5     10  F02     Female -1

Classes 'nfnGroupedData', 'nfGroupedData', 'groupedData' and 'data.frame':	44 obs. of  5 variables:
 $ distance: num  21 20 21.5 23 21 21.5 24 25.5 20.5 24 ...
 $ age     : num  8 10 12 14 8 10 12 14 8 10 ...
 $ Subject : Factor w/ 11 levels "F01","F02","F03",..: 1 1 1 1 2 2 2 2 3 3 ...
 $ Sex     : Factor w/ 1 level "Female": 1 1 1 1 1 1 1 1 1 1 ...
 $ age.c   : num  -3 -1 1 3 -3 -1 1 3 -3 -1 ...
 - attr(*, "formula")=Class 'formula'  language distance ~ age | Subject
  .. ..- attr(*, ".Environment")=<environment: R_GlobalEnv>
 - attr(*, "labels")=List of 2
  ..$ x: chr "Age"
  ..$ y: chr "Distance from pituitary to pterygomaxillary fissure"
 - attr(*, "units")=List of 2
  ..$ x: chr "(years)"
  ..$ y: chr "(mm)"
 - attr(*, "outer")=Class 'formula'  language ~Sex
  .. ..- attr(*, ".Environment")=<environment: R_GlobalEnv>
 - attr(*, "FUN")=function (x)
  ..- attr(*, "source")= chr "function (x) max(x, na.rm = TRUE)"
 - attr(*, "order.groups")= logi FALSE

In [4]:
set.seed(123)
M <- 50
n <- 10
test <- data.frame(x = runif(n*M,0,1), group = rep(1:M,each=n))
test$y <- 10*test$x + rep(rnorm(M, 0, 2), each = n) + rchisq(n*M, 3)
head(test)
fit.lqmm <- lqmm(fixed = y ~ x, random = ~ 1, group = group,
                 data = test, tau = 0.5, nK = 11, type = "normal")
fit.lqmm

  x         group y
1 0.2875775 1      2.949871
2 0.7883051 1      8.299371
3 0.4089769 1      3.787429
4 0.8830174 1      9.488773
5 0.9404673 1     11.117162
6 0.0455565 1      4.320420

Call: lqmm(fixed = y ~ x, random = ~1, group = group, tau = 0.5, nK = 11,
    type = "normal", data = test)

Quantile 0.5

Fixed effects:
(Intercept)            x
      3.443        9.258

Covariance matrix of the random effects:
(Intercept)
      3.426

Residual scale parameter: 0.8697 (standard deviation 2.46)
Log-likelihood: -1178

Number of observations: 500
Number of groups: 50